[package]
name = "mathbench"
version = "0.1.3"
authors = ["Cameron Hart <cameron.hart@gmail.com>"]
edition = "2018"

[dependencies]
approx = { version = "~0.3", default-features = false }
mint = "~0.5"
rand = { version = "~0.6", default-features = false }
rand_xoshiro = "~0.1"

[dependencies.glam]
version = "~0.6"
default-features = false
features = ["approx", "mint", "rand"]

[dependencies.nalgebra]
version = "~0.18"
default-features = false
features = ["mint"]

[dependencies.cgmath]
version = "~0.17"
default-features = false
features = ["mint"]

[dev-dependencies]
criterion = "~0.2"

[[bench]]
name = "eulerbench"
harness = false

[[bench]]
name = "quatbench"
harness = false

[[bench]]
name = "mat2bench"
harness = false

[[bench]]
name = "mat3bench"
harness = false

[[bench]]
name = "mat4bench"
harness = false

[[bench]]
name = "transform"
harness = false
